@import './base.css';

#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.page {
  min-height: 100vh;
  background-color: #f7f7fb;
  background-image: linear-gradient(
    180deg,
    rgba(123, 44, 191, 0) 0%,
    rgba(0, 119, 255, 0.21) 100%
  );
}

.logo {
  font-family: var(--font-logo);
  color: var(--color-logo);

  font-size: 3.0rem;
  letter-spacing: 1px;
  line-height: 1;
}